<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/header :: commonHeader}"></th:block>
</head>
<body>
    <th:block th:replace="~{fragments/common :: commonMobileNav}"></th:block>
    <th:block th:replace="~{fragments/common :: commonLogo}"></th:block>
    <main>
        <section class="lower-section">
            <th:block th:replace="~{fragments/common :: commonNav}"></th:block>
        </section>
    </main>
    <th:block th:replace="~{fragments/footer :: commonFooter}"></th:block>
</body>
<th:block th:replace="~{fragments/scripts :: commonScripts}"></th:block>
</html>
