<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/header :: commonHeader}"></th:block>
</head>
<body>
    <th:block th:replace="~{fragments/common :: commonMobileNav}"></th:block>
    <th:block th:replace="~{fragments/common :: commonLogo}"></th:block>
    <main>
        <section class="lower-section">
            <th:block th:replace="~{fragments/common :: commonNav}"></th:block>
            <article class="page-content">
                <div class="investment-image-area">
                    <img th:src="${company.mainImgUrl}" alt="Sample Investment Image" style="max-width: 100%; height: auto"/>
                </div>
                <div class="investment-editor-area" th:utext="${company.companyInfo}"></div>
                    <div class="investment-card-area">
                        <div class="investment-card">
                            <h3 class="card-title">Card Title 1</h3>
                            <img src="/portfolio" alt="Card Image 1" />
                        </div>
                    </div>
            </article>
        </section>
        <th:block th:replace="~{fragments/footer :: commonFooter}"></th:block>
    </main>
</body>
<th:block th:replace="~{fragments/scripts :: commonScripts}"></th:block>
</html>
